
body,html{


    background-color: black;
    font-family: 'Matrix', sans-serif;

}



.braneData_header{


    width: 100%;
    height: 150px;
}

.links_navigator_container{


    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container_links_right,.container_links_left{

    margin:30px
}
.container_links_left a ,.container_links_right a {

    font-weight: bold;
    margin: 30px;
    font-size: 30px;


    color:  #00FF41;
    text-decoration: none;

}

.container_links_right a:hover{
    text-decoration: underline ;
}


.braneData_upper_component{

    height: 1000px;

}




.braneData_upper_component{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap:50px

}
.single_button_upper_component_article:hover{

    background-color: #00FF41;
    color: black;
}
.upper_component_left,.upper_component_right{

    color:  #00FF41;
    margin-top:100px
}


.braneData_button_navigation_upper_component{

    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    color: white;




}
#form{
    color: white;
    background-color: black;

}
.my-form{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 200px;
}
#form_response{



}
#input_terminal{

    background-color: black;
    border: none;
    color:#00FF41 ;
    border: 0;
    appearance:none;
    -webkit-appearance: none

}
input {border:0;outline:0;}
input:focus {outline:none!important;}

.center_terminal{


    margin-top: 200px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    color: #00FF41}

.center_terminal h1{
    font-family: 'Matrix', sans-serif;
}

.main_header{

    font-size: 50px;

}

.first_subheader{
    max-width: 1200px;
    font-size: 50px;

}
.second_subheader{
    font-size: 20px;

}
.single_button_upper_component_article{

    background-color: black;
    color:  #00FF41;

    width: 250px;
    height: 60px;

    font-weight: bold;
    border: 2px solid  #00FF41;
    border-radius: 20px;



}

.single_button_upper_component_article {
    font-size: 24px;


}

.single_button_upper_component_article:hover{
    cursor: pointer;
}


.central_body_upper{

    justify-content: center;
    text-align: center;
}
.main_header_featured_articles_1,.main_header_featured_articles_2,.main_header_featured_articles_3{
    margin-top: 150px;
    font-size: 40px;
    color:  #00FF41;


}

.explore_button_preview{

    margin-top: 40px;
}

.single_featured_articles_container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;


}

.article_preview_subtitle{
    margin-top: 20px;

    font-size: 18px;
    color:  #00FF41;
}

.single_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    height:500px;
    margin: 50px;

    border: 2px solid #00FF41 ;
    border-radius: 20px;


    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}







.main_header_featured_articles_1:after,.main_header_featured_articles_2:after  {
    content:"";
    display:block;
    width: 20em;
    max-width:50%;
    border-bottom:  0.3em solid #00FF41;
    margin: 2em auto 30px;


}

.article_preview_title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color:  #00FF41;
}


.total_more_container{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;

}
.left_container,.right_container{

    display: flex;
    flex-direction: column;

    margin:20px;



}

.horizontal_article{
    width: 900px;
    height: 200px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;



}

.bigger_section{

    width: 100px;
    height: 800px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


}
.smaller_section{
    width: 500px;
    height: 800px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


}


ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


li {
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    flex: 1 100%;
    font-size: 24px;
    color: #242582;
    margin-top: 20px;

}



@media screen and (min-width: 1024px) {
    .gfg-div {
        background-color: #63c971;
        color: #fff;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .gfg-div {
        width: 200px;
        height: 200px;
        background-color: red;
        color: #fff;
    }
    .single_button_upper_component_article{
        width: 300px;
        font-size: 30px;

    }



    .single_article{
        width: 800px;
        height: 1200px;
        display: flex;
        flex-direction: column;
        gap:1em;

    }
    .article_preview_title{

        font-size: 50px;

        max-width: 700px;
    }
    .article_preview_subtitle{

        font-size: 40px;
        max-width: 700px;

    }
    .first_subheader{

        max-width: 600px;
    }

    .article_preview_image img{
        width: 300px;
        height: 300px;
    }
    .article_preview_image{margin-top: -200px;
    margin-bottom: 200px}
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: cyan;
        color: black;
    }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen
and (max-device-width: 640px) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: chartreuse;
        color: black;
    }
    .image_container img{
        width: 200px;
        height: 300px;
    }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: brown;
        color: black;
    }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: cornflowerblue;
        color: black;
    }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: darkgoldenrod;
        color: black;
    }
}
